<app-navbar></app-navbar>
<div class="uploader-status" *ngIf="resourcesLoaded === false">
<mat-spinner class="dark-overlay d-flex justify-content-center" [color]="'#ff0000'" mode="indeterminate">
</mat-spinner>
</div>
<!-- <div class="img js-fullheight body" style="background-image: url(assets/img/basket.jpg);">
<section class="ftco-section"> -->
<div class="container">
  <div class="row row-cols-xl-4  row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1 ">

    <ng-container *ngIf="eventsInfo.length > 0">
    <div class="col mt-4 d-flex justify-content-center"  *ngFor="let event of eventsInfo">
      <div class="card " (click)="openCardInfo(event.id)" style="width: 18rem;">
        <img src="assets/img/football.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">{{event.title}}</h1>
          <!-- <p class="card-text ">{{event.description}}</p> -->
          <div class="  d-flex justify-content-start">
            <div class=" d-flex align-items-center"><img src="assets/img/calendar.png" class="" style="width: 18px;"><p class="m-2 text-muted"> {{formatDate(event.date)}} </p></div>
            <div class="text-muted m-2"><img src="assets/img/dollar.png" class="" style="width: 18px;"> {{event.price}}</div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  </div>
</div>
<!-- </section>
</div> -->
